.Main {
    align-items: center;
    background-image: url("/images/main-background.jpg");
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    div.heading {
        color: #fff;

        h1 {
            font-size: 36px;
            text-align: center;
        }
    
        h2 {
            font-size: 20px;
            margin-top: 15px;
            text-align: center;
        }
    }

    div.IconContainer {
        font-size: 100px;
    }

    div.FormSection {
        display: flex;
        gap: 10px;
        justify-content: center;

        input {
            border: none;
            border-radius: 4px;
            min-width: 205px;
            outline: none;
            padding: 15px;
        }
    }
}