.Main {
    min-height: 100vh;
    position: relative;

    header {
        align-items: center;
        color: #fff;
        display: flex;
        gap: 70px;
        left: 0;
        padding: 30px 70px;
        position: absolute;
        top: 0;
        z-index: 5;
        div.logo {
            font-size: 26px;
            font-weight: 700;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            gap: 40px;

            li {
                a {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    // section.main {
        
    // }
}